body {
    font: 12px arial;
    color: #222;
    margin: 0px;
}
dl {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0e90d2;
}
dt {
    float: left;
}

li {
    list-style-type: none;
}

dt a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#header {
    padding-top: 5px;
}
#header-title {
    font-weight: bold;
    font-size: 25px;
    top: 15px;
    margin-top: 5px;
    padding-left: 15px;
    font-family: Chaparral Pro Light, serif;
}
#users {
    height: auto;
    position: fixed;
    top: 100px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 150%;
    border-top: thin solid black;
    border-right: thin solid black;
    border-left: thin solid black;
    border-bottom: thin solid black;
    padding-left: 3px;
}
form, p, span {
    margin: 0;
    padding: 0;
}
input {
    font: 12px arial;
}
a:hover {
    text-decoration: underline;
}
#wrapper {
    position: fixed;
    top: 10%;
    left: 10%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 25px;
    /*background: #ebf4fb;*/
    width: 1200px;
    height: 200px;
}
#chatbox {
    position: relative;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 380px;
    width: 550px;
    border: 1px solid #acd8f0;
    overflow: auto;
}
#usermsg {
    width: 520px;
    height: 20px;
    border: 1px solid #acd8f0;
}
#submit {
    width: 60px;
}
#menu {
    padding: 12.5px 25px 12.5px 25px;
}
.welcome {
    float: left;
}
.logout {
    float: right;
}
.user {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: inherit;
    float: inherit;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
#settingsBtn {
    border: 0;
    align-content: center;
    background: #0e90d2;
}
#settingsBtn:hover {
    background-color: #f1f1f1;
}
#logout {
    border: 0;
    align-content: center;
    background: #0e90d2;
}
#logout:hover {
    background-color: #f1f1f1;
}
#overlay {
    display:none;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.5;
    z-index:99999;
}
#popup {
    display:none;
    position:fixed;
    left:50%;
    top:50%;
    width:400px;
    height:150px;
    margin-top:-75px;
    margin-left:-150px;
    background:#FFFFFF;
    border:2px solid #000;
    z-index:100000;
}

p {
    top: 80px;
    font-size: 25px;
}

#users-wrapper {
    margin-top: 20px;
}