body {
    font: 12px arial;
    color: #222;
    padding: 35px;
}

#users {
    height: auto;
    position: absolute;
    top: 0;
    right: 10%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 150%;
    border-right: thin solid black;
    border-left: thin solid black;
    border-bottom: thin solid black;
    padding-left: 3px;
}

form, p, span {
    margin: 0;
    padding: 0;
}

input {
    font: 12px arial;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    position: fixed;
    top: 3%;
    left: 10%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 25px;
    background: #ebf4fb;
    width: 1000px;
    height: 504px;
    border: 1px solid #acd8f0;
}

#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 380px;
    width: 600px;
    border: 1px solid #acd8f0;
    overflow: auto;
}

#usermsg {
    width: 570px;
    height: 20px;
    border: 1px solid #acd8f0;
}

#submit {
    width: 60px;
}

#menu {
    padding: 12.5px 25px 12.5px 25px;
}

.welcome {
    float: left;

}

.logout {
    float: right;
}