*{
    margin:0;
    padding:0;
}
body {
    color: black;
    background: url('../img/img/backgrond.jpg') no-repeat;
    background-size: cover;

}
dl {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:url("../img/img/bar_img.jpg")repeat ;
}
dt {
    float: left;
}
a {
    font-size: 20px;
    text-decoration: none;
    color: #ebe8fc;
}
#header {
    padding-top: 5px;
}
#header-title {
    font-weight: bold;
    font-size: 25px;
    padding-left: 15px;
    font-family: Chaparral Pro Light, serif;
}
a:hover {
    text-decoration: underline;
}
#dp {
    position: absolute;
    display: block;
    float: right;
    right: 0;
    top: 20px;
    font-family: Helvetica Neue, Helvetica, sans-serif;
}
#dp .wrapper {
    display: inline-block;
    width: 180px;
    margin: 0 10px 0 0;
    height: 20px;
    position: relative;
}
#dp .parent {
    width: 100%;
    display: block;
    cursor: pointer;
    line-height: 30px;
    height: 30px;
    z-index: 2;
    font-size: 15px;
    position: relative;
    -webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
    -webkit-transition-delay: .8s;
    text-align: center;
}
#dp .parent:hover,
#dp .content:hover ~ .parent {
    -webkit-transition-delay: 0s, 0s, 0s;
}
#dp .content:hover ~ .parent {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 0;
}
#dp .content {
    position: absolute;
    top: 0;
    display: block;
    z-index: 1;
    height: 0;
    width: 180px;
    padding-top: 20%;
    -webkit-transition: height .5s ease;
    -webkit-transition-delay: .4s;
    border-radius: 1px;
}
#dp .wrapper:active .content {
    height: 123px;
    z-index: 3;
    -webkit-transition-delay: 0s;
}
#dp .content:hover {
    height: 123px;
    z-index: 3;
    -webkit-transition-delay: 0s;
}
#dp .content dl {
    margin: 4px;
    padding: 0;
    overflow: hidden;
    height: 75%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#dp .content dl a {
    text-decoration: none;
}
#dp .content dt:hover {
    background: #eee;
}
#dp .content dt {
    list-style: none;
    text-align: left;
    color: #888;
    font-size: 14px;
    line-height: 30px;
    height: 50px;
    padding-left: 10px;
    border-top: 1px solid #ccc;
}
#dp .content dt:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#showProfile {
    background:url("../img/menu_line_bg.jpg");
    width: 100%;
    font-size: 17px;
    color: #32174d;
    border: 0;
    align-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#showProfile:hover {
    text-decoration: underline;
}
#settingsBtn {
    background:url("../img/menu_line_bg.jpg");
    width: 100%;
    font-size: 17px;
    color: #32174d;
    border: 0;
    align-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#settingsBtn:hover {
    text-decoration: underline;
}
#logout {
    background:url("../img/menu_line_bg.jpg");
    width: 100%;
    font-size: 17px;
    color: #32174d;
    border: 0;
    align-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#logout:hover {
    text-decoration: underline;
}
#overlay {
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.5;
    z-index:99999;
}
#popup {
    display:none;
    position:fixed;
    left:50%;
    top:50%;
    width:400px;
    height:150px;
    margin-top:-75px;
    margin-left:-150px;
    background: rgba(153, 153, 204, 0.7);
    border-top: 1px solid #32174d;
    border-left: 1px solid #32174d;
    border-right: 3px solid #32174d;
    border-bottom: 3px solid #32174d;
    z-index:100000;
}
.blueButton {
    background:url('../img/button_blue.png') no-repeat;
    border:none !important;
    color:#516D7F !important;
    display:inline-block;
    font-size:13px;
    height:29px;
    text-align:center;
    text-shadow:1px 1px 0 rgba(255, 255, 255, 0.4);
    width:75px;
    margin:0;
    cursor:pointer;
}
#settingsTitle {
    color: #32174d;
    font-size: xx-large;
    float: right;
    padding-right: 10px;
}
#radius {
    width: 100px;
}
#selectedTime {
    width: 100px;
}
#closeBtn {
    margin-left: 120px;
}
label {
    padding-left: 10px;
}
.clear{
    clear:both;
}