body {
    margin: 0;
}
#container {
    background: rgba(50, 23, 77, 0.2);
    top: 20%;
    left: 27.5%;
    height: 60%;
    width: 55%;
    position: absolute;
}
#ProfilePage {
    margin-top: 50px;
    margin-left: 10px;
    width: 635px;
}
#LeftCol {
    float: left;
    width: 200px;
    text-align: center;
    margin-right: 20px;
}
#Photo {

    width: 200px;
    height: 200px;
}
#PhotoOptions {
    text-align: center;
    width: 200px;
}
#Info {
    width: 400px;
    text-align: left;
    float: right;
}
#Info strong {
    color: #595959;
    display: inline-block;
    width: 90px;
    padding-top: 10px;
}
#Info input[type="text"], textarea {
    display: inline;
    background-color: rgba(50, 23, 77, 0);
    border: 0;
    text-align: left;
    width: 200px;
    resize: none;
}
textarea {
    vertical-align: top;
    height: 70px;
}
#gender {
    -webkit-appearance: none;
    appearance: none;
    display: inline;
    background-color: white;
    border: 0;
    text-align: left;
    width: 200px;
}
.user {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#saveProfile {
    display: none;
    margin-top: 40px;
}
#resetFields {
    display: none;
}
.labelError {
    color: red;
    display: none;
}