body {
    margin: 0;
}
dl {
    top: 0;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0e90d2;
}
dt {
    float: left;
}
dt a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#header {
    padding-top: 5px;
}
#header-title {
    font-weight: bold;
    font-size: 35px;
    top: 15px;
    margin-top: 5px;
    padding-left: 15px;
    font-family: Chaparral Pro Light, serif;
}
#ProfilePage {
    /* Move it off the top of the page, then centre it horizontally */
    margin-top: 50px;
    margin-left: 10px;
    width: 635px;

    /* For visibility. Delete me */
    /*border: 1px solid white;*/
}
#LeftCol {
    /* Move it to the left */
    float: left;

    width: 200px;
    text-align: center;

    /* Move it away from the content */
    margin-right: 20px;

    /* For visibility. Delete me */
    /*border: 1px solid brown;*/
}
#Photo {
    /* Width and height of photo container */
    width: 200px;
    height: 200px;

    /* For visibility. Delete me */
    border: 1px solid green;
}
#PhotoOptions {
    text-align: center;
    width: 200px;

    /* For visibility. Delete me */
    /*border: 1px solid brown;*/
}
#Info {
    width: 400px;
    text-align: left;

    /* Move it to the right */
    float: right;

    /* For visibility. Delete me */
    /*border: 1px solid blue;*/
}
#Info strong {
    /* Give it a width */
    display: inline-block;
    width: 90px;

    /* For visibility. Delete me */
    /*border: 1px solid orange;*/
}
#Info input[type="text"], input[type="date"], textarea {
    /* Give it a width */
    display: inline;
    background-color: white;
    border: 0;

    text-align: left;
    width: 200px;

    /* For visibility. Delete me */
    /*border-bottom: 1px solid blue;*/
}
#gender {
    -webkit-appearance: none;
    appearance: none;
    display: inline;
    background-color: white;
    border: 0;

    text-align: left;
    width: 200px;
}
.user {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: inherit;
    float: inherit;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
#logout {
    border: 0;
    align-content: center;
    background: #0e90d2;
}
#logout:hover {
    background-color: #f1f1f1;
}